<%- include('partials/headerQuiz') -%>
<section class="page__title-area pt-120 pb-90" style="background-image: url('assets/img/course/quizbg.png');">

    <div id="quizContainer">
    


    
    <h1>
        Alphabet Test
    </h1>
    <form action="#">
    <p><%= testQuestions[0].question%></p>
    <img src= "<%= testQuestions[0].img %>">    
    
    </form>

    <button onclick="addQuizPoints()" name="submit" class="e-btn" id="addQuizPoints">Submit</button>
    <h1 id="passOrFail"></h1>
    <script type="text/javascript" src="assets/js/quizOne.js"></script>

    <script type="text/javascript" src="js/main.js"></script>
</div>
</section>
<%- include('partials/footer') -%>
  